// size variable 
$size01 : 100px;
$size02 : 200px;
$size03 : 300px;
$size05: 500px;

//percent variabe
$size001: 100%;


// font size variable
$fontsize01 : 14px;
$fontsize02 : 16px;
$fontsize03 : 24px;


//color variable
$color01 : #b76464;
$color02 : #fff;
$color03 : grey;
$color04 : green;
$color05:  yellow;
$color06 : red;
